{% extends 'layout.html' %}

{% block title %}O{% endblock %}

{% block content %}
  {% if sports %}
    <ul>
      {% for sport in sports %}
        <li><p><a href="{{ url_for('team', sport_id=sport.id) }}">{{ sport.name }}</a></p></li>
        <form action="{{ url_for('delete_sport', sport_id=sport.id) }}" method="post">
          <button type="submit">Remove this Sport</button>
        </form>
      {% endfor %}
      <p>Would you like to add <a href="{{ url_for('add_sports') }}">more</a> sports?</p>
    </ul>
  {% else %}
    <p>There are no sports D:</p>
    <p>Would you like to select <a href="{{ url_for('add_sports') }}">one</a>?</p>
  {% endif %}
{% endblock %}